// MIXINS
@import '../.././global/mixins';

// ESTILOS
.overlay {
    @include flex(row, center, center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 1;
    display: none;

    &-active {
        display: flex;
    }
}
