// MIXINS
@import '../.././global/mixins';

// ESTILOS
.profile-summary {
    @include flex(row, center, center);
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;

    &-art-one {
        flex: 2;
    }
    &-art-two {
        flex: 1;
    }
    &-art-three {
        width: 100%;
    }
}
