
.grid-portada-hero{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 600px;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );

    .ph-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0px 0px 180px;


        gap:70px;

        h1 , p {
            text-align: left;
            color: white;
        }

        h1{
            font-weight: bolder;
            font-size: 50px;
            
        }

    button{
        height: 50px;
        width: 180px;

        border-radius: 40px;

        background-color: rgb(245, 198, 45);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        color: white;

        cursor: pointer;
    }
    }
}