// MIXINS
@import '../.././global/mixins';

// ESTILOS
.error-main {
    padding: var(--padding-main);
}
.error {
    @include flex(column, center, center);
    gap: 2rem;
    padding: 2rem 0 6rem 0;

    &-picture {
        max-width: 35rem;
    }
    &-title {
        font-size: 3.5rem;
        font-weight: 700;
    }
    &-paragraph {
        font-size: 2rem;
        font-weight: 500;
    }
}
