// MIXINS
@import "../.././global/mixins";

// ESTILOS
.error {
    @include flex(column, center, center);
    gap: 2rem;

    &-picture {
        max-width: 35rem;
    }
    &-title {
        font-size: 3.5rem;
        font-weight: 700;
    }
    &-paragraph {
        font-size: 2rem;
        font-weight: 500;
    }
}
