@import "../.././global/mixins";

$font: "Poppins", sans-serif;
$fontColor: #ffffff;

.tournament-background {
  // @include flex(row, center, center);
  position: fixed;
  width: 69.563rem;
  height: 37.75rem;
  background-color: #0c074a;
  border-radius: 16px;
  margin-left: 20%;
  margin-top: 12%;
  z-index: 3;
}

.background-name-modal {
  background: linear-gradient(91.15deg, #fb2356 7.43%, #140c71 89%);
  border-radius: 0px 40px 40px 0px;
  width: 30.375rem;
  height: 5rem;
  margin-top: 3.438rem;
  display: flex;
  
  
}

.icono-control-de-juego {
  width: 80px;
  height: 63.34px;
  
}

.name-modal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}

.title-modal {
  position: absolute;
  width: 19.563rem;
  height: 3.688rem;
  left: 6.375rem;
  top: 4.063rem;

  /* Heading/medium */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  /* or 42px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.btn-creatorneo {
  position: absolute;
  left: 31.99%;
  right: 31.63%;
  top: 29.97%;
  bottom: 60.93%;
  background: #fbbc05;
  border-radius: 29.0411px;
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.duplica {
  position: absolute;
  width: 350px;
  height: 24px;
  left: 381px;
  top: 257px;

  /* Text/regular/Bold */

  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;
}

.listado-10 {
  position: absolute;
  width: 350px;
  height: 18px;
  left: 385px;
  top: 286px;

  /* Text/tiny/Medium */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  text-align: center;

  color: #ffffff;
}

.frame-carousel {
  position: absolute;
  width: 1089px;
  height: 221px;
  left: 24px;
  top: 344px;
 }

//_______________________________________________________________
.slider {
  width: 100%; /* card * 4 + margin * 4 */
  text-align: center;
  position: relative;

}

.slides {
  width: 100%; /* card * 4 + margin * 4 */
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s ease;

}
// .slides::-webkit-scrollbar {
//   display: none;
// }


.slides .slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 390.89px;
  height: 220.77px;
  margin-right: 15px;
  // margin-left: 15px;
  border-radius: 16px;
  // background: #eee;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transform: translateX(0px);
}

.img-slide {
  border-radius: 16px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.data-torneo {
  background-color: #eb2f93;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 58px;
  padding: 3%;
  border-radius: 0px 0px 15.0731px 15.0731px;
}

.data-row-1 {
  display: flex;
  width: 100%;
}

.data-estadio {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 9.49538px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-right: 30px;
}

.data-estado {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 9.49538px;
  line-height: 150%;
  /* or 14px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.data-arena {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12.6605px;
  line-height: 150%;
  /* or 19px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.nombre-juego {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 58px;
  padding: 3%;
  border-radius: 0px 0px 15.0731px 15.0731px;
}

.data-cita {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3%;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 9.49538px;
line-height: 150%;
}
