@import "../.././global/mixins";

$font: "Poppins", sans-serif;
$fontColor: #ffffff;

.tournament-background {
  @include flex(row, center, center);
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.699);
  z-index: 1;
}

.tournament-background-modal {
  width: 69.563rem;
  height: 37.75rem;
  margin: auto;
  background-color: var(--background-two);
  border-radius: 1rem;
}

.background-name-modal {
  background: linear-gradient(91.15deg, #fb2356 7.43%, #140c71 89%);
  border-radius: 0 2.5rem 2.5rem 0;
  width: 30.375rem;
  height: 5rem;
  margin-top: 3.438rem;
  display: flex;
}

.icono-control-de-juego {
  width: 5rem;
  height: 3.959rem;
}

.name-modal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.title-modal {
  left: 6.375rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.btn-creatorneo {
  width: 25.313rem;
  height: 3.438rem;
  position: absolute;
  margin: 8rem 19.6%;
  // left: 31.99%;
  // right: 31.63%;
  // top: 37%;
  // bottom: 60.93%;

  background: #fbbc05;
  border-radius: 1.815rem;
  cursor: pointer;
}

.duplica {
  position: absolute;
  width: 21.875rem;
  height: 1.5rem;
  margin-left: 23.813rem;
  margin-top: 13rem;

  /* Text/regular/Bold */

  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
}

.listado-10 {
  position: absolute;
  width: 21.875rem;
  height: 1.125rem;
  margin-left: 24.063rem;
  margin-top: 15rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.frame-carousel {
  position: absolute;
  width: 68.063rem;
  height: 13.813rem;
  margin-left: 1.5rem;
  margin-top: 18.438rem;
}

//_______________________________________________________________
.slider {
  width: 100%; /* card * 4 + margin * 4 */
  text-align: center;
  position: relative;
}

.slides {
  width: 100%; /* card * 4 + margin * 4 */
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s ease;
}
// .slides::-webkit-scrollbar {
//   display: none;
// }

.slides::-webkit-scrollbar-track{
  background: var(--background-two);
}

.slides::-webkit-scrollbar{
  height: 10px;
}

.slides .slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 24.431rem;
  height: 13.798rem;
  margin-right: 0.938rem;
  border-radius: 1rem;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.125rem;
  transform: translateX(0px);
}

.img-slide {
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.data-torneo {
  background-color: #eb2f93;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3.625rem;
  padding: 3%;
  border-radius: 0 0 0.942rem 0.942rem;
}

.data-row-1 {
  display: flex;
  width: 100%;
}

.data-estadio {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.593rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-right: 1.875rem;
}

.data-estado {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.593rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.data-arena {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 0.791rem;
  line-height: 150%;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.nombre-juego {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 3.625rem;
  padding: 3%;
  border-radius: 0 0 0.942rem 0.942rem;
}

.data-cita {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.593rem;
  line-height: 150%;
}
