@import "../.././global/mixins";

$font: "Poppins", sans-serif;
$fontColor: #ffffff;


.consola-background{
  @include flex(row, center, center);
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.699);
  z-index: 1;
}

.search-consola {
//  @include flex(row, center, center);
  position: fixed;
  width: 69.75rem;
  height: 37.75rem;
  background-color: #0c074a;
  border-radius: 1rem;
  z-index: 3;
}

.header-consola{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.background-name-modal-consola {
  background: linear-gradient(91.15deg, #fb2356 7.43%, #140c71 89%);
  border-radius: 0 2.5rem 2.5rem 0;
  width: 30.375rem;
  height: 5rem;
  margin-top: 3.438rem;
  display:flex;
  justify-content: space-between;
}

.name-modal-consola {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.title-modal-consola {
  position: absolute;
  width: 25rem;
  height: 3.688rem;
  left: 6.375rem;
  top: 4.063rem;
 font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.input-search-consola{
  padding-left: 3.125rem;
  background-color: #ffffff;
  width: 18.891rem;
  height: 2.5rem;
  border-radius: 1.688rem;
}

.searchconsola-container{
  position: relative;
  display: flex;
  justify-content: end;
  margin-left: unset;
  width: 18.891rem;
  height: 2.5rem;
  border-radius: 1.688rem;
  align-items: center;
  margin-top: 3.438rem;
  margin-right: 1.484rem;
}

.frame-consolas{
  position: absolute;
  width: 66.25rem;
  height: auto;
  margin: 1.5rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  }

.consola{
width: 16.25rem;
height: 11.168rem;
margin:0.938rem;
background: #D9D9D9;
border-radius: 0.966rem;
@include flex(column, center, center);
cursor: pointer;
// display:flex;
// justify-content: center;
// align-items: center;
}

.name-consola{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 1.125rem;
line-height: 150%;
display: flex;
margin-top:0.938rem;
align-items: center;
color: #000000;
}

.pc{
  height: 4.188rem;
  width: 4.188rem;
}

.consolas-juegos{
  width: 10.688rem;
}
