@import "../.././global/mixins";

$font: "Poppins", sans-serif;
$fontColor: #ffffff;


.set-background-total{
  @include flex(row, center, center);
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.699);
  z-index: 1;
}

.set-background {
  position: fixed;
  width: 55.063rem;
  height: 31.875rem;
  background-color: #0c074a;
  border-radius: 1rem;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.background-set{
  position: absolute;
  width: 30rem;
  height: 5rem;
  left: 12.5rem;
  top: 3rem;
  background: linear-gradient(91.15deg, #FB2356 7.43%, #140C71 89%);
  border-radius: 2.5rem;
  display: flex;
justify-content: center;
align-items: center;
text-align: center;

}

.set-modal{
  
width: 30.625rem;
height: 2.938rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 2.321rem;
line-height: 130%;
color: #FFFFFF;
}

.torneo-creado{
  position: absolute;
width: 30.611rem;
height: 9.938rem;
left: 12.25rem;
top: 15.75rem;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 2.321rem;
line-height: 130%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: #FFFFFF;
}



.trofeo{
 position:absolute;
  height: 8.563rem;
  width: 8.563rem;
  margin-top:17%;

}

.btn-set{
  position: absolute;
left: 40.41%;
right: 40.36%;
top: 79.71%;
bottom: 10.09%;
background: #FBBC05;
border-radius: 1.815rem;
cursor: pointer;
}
