@import "../.././global/mixins";

$font: "Poppins", sans-serif;
$fontColor: #ffffff;

.tournament-background {
  // @include flex(row, center, center);
  position: fixed;
  width: 69.563rem;
  height: 37.75rem;
  background-color: #0c074a;
  border-radius: 16px;
  margin-left: 24.2%;
  margin-top: 12%;
  z-index: 3;
}

.background-name-modal {
  background: linear-gradient(91.15deg, #fb2356 7.43%, #140c71 89%);
  border-radius: 0px 40px 40px 0px;
  width: 30.375rem;
  height: 5rem;
  margin-top: 3.438rem;
}

.name-modal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.title-modal {
  position: absolute;
  width: 19.563rem;
  height: 3.688rem;
  left: 6.375rem;
  top: 4.063rem;

  /* Heading/medium */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  /* or 42px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.btn-creatorneo {
  position: absolute;
  left: 31.99%;
  right: 31.63%;
  top: 29.97%;
  bottom: 60.93%;
  background: #fbbc05;
  border-radius: 29.0411px;
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.duplica {
  position: absolute;
  width: 350px;
  height: 24px;
  left: 381px;
  top: 257px;

  /* Text/regular/Bold */

  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;
}

.listado-10 {
  position: absolute;
  width: 350px;
  height: 18px;
  left: 385px;
  top: 286px;

  /* Text/tiny/Medium */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  text-align: center;

  color: #ffffff;
}

.frame-carousel {
  position: absolute;
  width: 1089px;
  height: 221px;
  left: 24px;
  top: 344px;
  // overflow-x: scroll;
  border: 1px solid #ffffff;
}

//_______________________________________________________________
.slider {
  width: 100%; /* card * 4 + margin * 4 */
  text-align: center;
  position: relative;
  // padding-left: 15px;
  // padding-right: 15px;
}

.slides {
  width: 100%; /* card * 4 + margin * 4 */
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  transition: all .5s ease;
  
  
}
.slides .slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 390.89px;
  height: 220.77px;
  margin-right: 15px;
  // margin-left: 15px;
  border-radius: 16px;
  background: #eee;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transform: translateX(0px);
}

.slider .btn-prev,
.slider .btn-next{
  position: absolute;
  width: 50px;
  height: 50px;
  background: white;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(17,17,17,.15);
  cursor: pointer;
}
.slider .btn-prev{
  left: -5px;
}
.slider .btn-next{
  right: -5px;
}
.slider .btn-prev:after,
.slider .btn-next:after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid #fb2356;
  border-right: 1px solid #fb2356;
}
.slider .btn-prev:after{
  left: 50%;
  top: 50%;
  transform-origin: top right;
  transform: rotate(-135deg) translate(100%, -100%);
}
.slider .btn-next:after{
      left: 50%;
    top: 50%;
    transform-origin: top right;
      transform: rotate(45deg) translate(-25%, 50%);
}
.carrusel-wrap .bx-controls .bx-controls-direction > .btn-prev.invisible,
.carrusel-wrap .bx-controls .bx-controls-direction > .btn-next.invisible {
    opacity: 0;
    pointer-events: none;
}

