//  MIXINS
@import "../.././global/mixins";

$font: "Poppins", sans-serif;

// ESTILOS

// *{
//   margin:0;
//   padding: 0;
//   box-sizing: border-box;
// }

.tourney-background {
  @include flex(row, center, center);
  position: fixed;
  width: 32.517rem;
  height: 33.258rem;
  background-color: #0c074a;
  border-radius: 16px;
  margin-left: 36.25%;
  margin-top: 12%;
}

.tourney-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0.5rem;
}

.grid-container {
  margin: auto;
}

.grid-sup-izq {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  @include grid-crear-torneo(column, center, center, center);
  padding: 1.5rem 2.5rem;
}

.grid-sup-der {
  // border-left: 1px solid white;
  border-bottom: 1px solid white;
  @include grid-crear-torneo(column, center, center, center);
  padding: 1.5rem 2.5rem;
}

.grid-center-izq {
  border-right: 1px solid white;
  @include grid-crear-torneo(column, center, center, center);
  padding: 1.5rem 2.5rem;
}

.grid-center-der {
  // border-right: 1px solid white;
  @include grid-crear-torneo(column, center, center, center);
  padding: 1.5rem 2.5rem;
}

.grid-inf-izq {
  border-right: 1px solid white;
  border-top: 1px solid white;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  @include grid-crear-torneo(column, center, center, center);
  padding: 1.5rem 2.5rem;
}

.grid-inf-der {
  // border-left: 1px solid white;
  border-top: 1px solid white;
  @include grid-crear-torneo(column, center, center, center);
  padding: 1.5rem 2.5rem;
}

.title-grid {
  font-family: $font;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
}

.text-grid {
  font-family: $font;
  font-size: 10.83px;
  font-weight: 400;
  line-height: 16px;
}

.img-arena {
  color: white;
  width: 48.4px;
  height: 48.11px;
  background-color: #fb2356;
  background-size: 300%;
  background-clip: content-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

i {
  background-color: #fb2356;
  // background-size: 50%;
  background-clip: content-box;
  border-radius: 50%;
  width: 48.4px;
  height: 48.11px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
