@import "../.././global/mixins";

.form-data-background{
  @include flex(row, center, center);
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.699);
  z-index: 1;
}

.tournament-form-data {
  position: fixed;
  width: 69.563rem;
  height: 37.75rem;
  background-color: #0c074a;
  border-radius: 1rem;
  z-index: 3;
}

.background-name-modal-form{
    background: linear-gradient(91.15deg, #fb2356 7.43%, #140c71 89%);
  border-radius: 0 2.5rem 2.5rem 0;
  width: 30.375rem;
  height: 5rem;
  margin-top: 3.438rem;
  display:flex;
  justify-content: space-between;
}

.form-data {
  @include flex(column, center, center);
  position: absolute;
  width: 100%;
  height: 5.249rem;
  top: 21.875rem;
}

.first-row {
  display: flex;
  justify-content: space-between;
}

.second-row {
  display: flex;
  justify-content: space-between;
}

.name-input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
  margin: 1.25rem;
}

.input-data {
  width: 23.233rem;
  height: 3.249rem;
  margin: 1.25rem;
  background-color: #ffffff;
  border-radius: 0.513rem;
  padding-left: 0.313rem;
  color: black;
}

::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #afafaf;
}

.btn-form-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}

.btn-data-cancelar {
  width: 10.995rem;
  height: 3.438rem;
  border-radius: 1.813rem;
  background-color: #ffffff;
  color: #000;
  margin: 2.188rem ;
  cursor: pointer;
}

.btn-data-unirse {
  width: 10.995rem;
  height: 3.438rem;
  border-radius: 1.813rem;
  background-color: #fbbc05;
  margin: 2.188rem 0;
}


:disabled{
  // cursor: not-allowed;
  background-color: #898989;
}

.errors-data{
display:flex;
position: absolute;
justify-content: center;
align-items: center;
margin-top: -0.9rem;
margin-left: 1.5rem;
color: red;
}