// MIXINS
@import '../.././global/mixins';

// ESTILOS
.header {
    @include flex(row, space-between, center);
    gap: 2rem;
    padding: 2rem clamp(2rem, 5.75vw, 10rem);

    &-title {
        font-size: clamp(1rem, 2vw, 4rem);
        font-weight: 800;
    }
    &-search {
        width: clamp(100px, 100%, 300px);
        @include flex(row, flex-start, center);
        gap: 0.5rem;
        font-size: clamp(0.3rem, 0.75vw, 1.5rem);
        font-weight: 500;
        border-radius: 3rem;
        background-color: white;
        padding: 0.625rem 0.875rem;

        & svg {
            color: grey;
            width: clamp(0.625rem, 1.25vw, 2.5rem);
        }
        & input {
            width: 100%;
        }
    }
    .nav {
        &-ul {
            @include flex(row, center, center);
            gap: 2rem;
        }
        &-user {
            @include flex(row, center, center);
            gap: 1rem;
            position: relative;

            &-picture {
                width: auto;

                & img {
                    width: clamp(1.5rem, 3.5vw, 6.5rem);
                    height: clamp(1.5rem, 3.5vw, 6.5rem);
                    object-fit: cover;
                    object-position: center;
                    border-radius: 100%;
                    background: linear-gradient(91.15deg, #ff45d1 50%, #6516b8 50%);
                    padding: 0.1rem;
                }
            }
            &-ul {
                @include flex(column, center, flex-start);
                gap: 0.5rem;
                width: clamp(200px, 100%, 200px);
                position: absolute;
                left: 0;
                bottom: -200%;
                border-radius: 1rem;
                background-color: var(--background-two);
                padding: 0.75rem 4rem 0.75rem 1.5rem;
                display: none;
                z-index: 2;

                &-active {
                    display: flex;
                }
            }
            &-li {
                cursor: pointer;
            }
            &-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.699);
                z-index: 1;
                display: none;

                &-active {
                    display: block;
                }
            }
        }
        &-a {
            font-size: clamp(0.5rem, 1vw, 2rem);
            font-weight: 600;
            &-border {
                height: 0.25rem;
                border-radius: 1rem;
                background-color: #fbbc05;
                margin-top: 0.25rem;
                opacity: 0;
                transition: 500ms;
            }
            &-active {
                .nav-a-border {
                    opacity: 1;
                }
            }
        }
    }
    &-btn {
        font-size: clamp(0.4rem, 0.875vw, 1.6rem);
        font-weight: 600;
        border-radius: 3rem;
        background-color: #fbbc05;
        padding: 0.75em 1.75em;
    }
}
