* {
    margin: 0;
    padding: 0;
  }
  
  $color-primary: #f9ed69; //variable for yellow
  $color-secondary:#fbbc05;
  $color-tertiary: #b83b5e;
  $color-text-dark: #333;
  $color-text-light: #eee;
  
  $width-button: 150px;
  
  
  @mixin clearfix {
    &:after {
    content: "";
    clear: both;
    display: table;
    }
  }
  
  @mixin style-link-text($color) {
      text-decoration: none;
    text-transform: uppercase;
    color: $color;
  }
  
  .title {
    width: 167px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  
  
  nav {
    margin: 30px;
    @include clearfix;
  }
  
  
  
  .navigation {
    list-style: none;
    float: right;
    // margin: 5px;
    margin-top: -50px;
    
    li {
      display: inline-block;
      margin: 30px;
      color:white;
      
    }
    :hover{
        text-decoration: underline 4px;
        color: $color-secondary;
    }   
    
  }
 
  

 
  
  .buttons {
    float: right;
    margin: 20px;
  }
  
  %btn-placeholder {
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius:100px;
    width: $width-button;
    @include style-link-text($color-text-light);
  }
  
  
  
  
  .btn-main {
    
    color:white;

    &:link {
      @extend %btn-placeholder;
      background-color: $color-secondary;
    }
    
    &:hover {
      background-color: darken($color-secondary, 15%);
    }
  }
  
  .btn-hot{
    
    &:link {
      @extend %btn-placeholder;
      background-color: $color-tertiary;
    }
    
    &:hover {
      background-color: darken($color-tertiary, 15%);
    }
  }


  .search {
    width: 50%;
    position: relative;
    display: flex;
    }

  .searchTerm {
    width: 100%;
    border: 3px solid #ffff;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: $color-text-light;
  }
  
