
  
  $color-primary: #f9ed69; //variable for yellow
  $color-secondary:#fbbc05;
  $color-tertiary: #b83b5e;
  $color-text-dark: #333;
  $color-text-light: #eee;
  
  $width-button: 150px;
  
  
  @mixin clearfix {
    &:after {
    content: "";
    clear: both;
    display: table;
    }
  }
  
  @mixin style-link-text($color) {
      text-decoration: none;
    text-transform: uppercase;
    color: $color;
  }
  
  .title {
    width: 167px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 30px;
    left: 0px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
    margin: 1px 0;
  }
  
 
  
  nav {
    margin: 1px 0;
    @include clearfix;
  }
  
  
  
  .navigation {
    list-style: none;
    float: right;
    // margin: 5px;
    margin-top: -30px;
    
    li {
      display: inline-block;
      margin: 20px;
      color:white;
      
    }
    // :hover{
    //     text-decoration: underline 4px;
    //     color: $color-secondary;
    // }   
    
  }

  li::after{
    display:block;
    content:"";
    width:0;
    height: 2px;
    background-color: $color-secondary;
    transition: width 0.3ms

  }
  li:hover::after{
    width:100%;
  }
 
  .buttons {
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 30px;
    background:$color-secondary;
    border-radius: 10px;
  }
  
  %btn-placeholder {
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius:100px;
    width: $width-button;
    @include style-link-text($color-text-light);
  }
  
  
  
  
  .btn-main {
    
    color:white;
    margin: 0 0 0 2.5rem;
    background-color: $color-secondary;
    border-radius: 25.2px;
    padding: .5rem;
    


    &:link {
      @extend %btn-placeholder;
      background-color: $color-secondary;
    }
    
    &:hover {
      background-color: darken($color-secondary, 15%);
    }
  }
  
  .btn-hot{
    
    &:link {
      @extend %btn-placeholder;
      background-color: $color-tertiary;
    }
    
    &:hover {
      background-color: darken($color-tertiary, 15%);
    }
  }


  .search {
    width: 18rem;
    height: 20px;
    display: flex;
    margin-left: 14rem;
    background-color: white;
    border-radius: 10px 10px;
    color: black
    }

  // .searchTerm {
  //   width: 100%;
  //   border: 3px solid #ffff;
  //   border-right: none;
  //   padding: 5px;
  //   height: 20px;
  //   border-radius: 5px 0 0 5px;
  //   outline: none;
  //   color: $color-text-light;
  // }
  
