.login-background {
    background-color: rgba(0, 0, 0, 0.699);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(1rem, 2.5vw, 5rem);
}
.login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 515px;
    max-height: 700px;
    border-radius: 1rem;
    background-color: #0c074a;
    padding: 2rem clamp(1rem, 3.5vw, 7rem);
    &-btn-close {
        background-color: lawngreen;
    }
    &-h1 {
        font-size: 2vw;
        font-weight: 800;
        color: #ffffff;
        margin-bottom: 0.5rem;
    }
    &-h2 {
        font-size: 1.5vw;
        font-weight: 600;
        color: #ffffff;
    }
    &-span {
        font-size: 1vw;
        font-weight: 400;
        color: #ffffff;
        padding: 0 100px;
    }
    &-btn {
        border-radius: 1rem;
        padding: 1rem 3rem;
        background-color: #45474f;
        font-size: 1vw;
        font-weight: 600;
        color: #ffffff;
        &-apple {
            background-color: #45474f;
        }
        &-facebook {
            background-color: #4f6abf;
        }
        &-google {
            background-color: #ffffff;
            color: #000000;
        }
        &-correo {
            background-color: #993ff6;
        }
        &-guest {
            margin-top: 2rem;
            background-color: #993ff6;
        }
    }
    &-p {
        font-size: 0.75vw;
        font-weight: 400;
        color: #ffffff;
    }
    &-a {
        text-decoration: underline;
    }
}
