.body-torneo{
    position: relative;
    width: 69.563rem;
    height: 37.75rem;
    background-color: #0C074A;
    border-radius: 16px;

}

.title{
    position: absolute;
    width: 486px;
    height: 80px;
    left: -1px;
    top: 55px;
    
    background: linear-gradient(91.15deg, #FB2356 7.43%, #140C71 89%);
    border-radius: 0px 40px 40px 0px;
}